.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper_middle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper_profile {
    display: flex;
    width: 1240px;
}

.btn_wrapper {
    display: flex;
    justify-content: flex-end;
}

.link {
    color: #4C4CFF;
}

.profile_cells {
    height: 64px;
    display: flex;
    align-items: center;
}

.profile_cells_wrapper {
    width: 320px;
}

.profile_link {
    text-decoration: none;
}

.profile_link_active {
    color: #F2F2F3 !important;
}

.profile_link_inactive {
    color: #8585AD;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrients {
    display: flex;
}

.nutrients p {
    text-align: center;
}

.main_content {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.main_content_item {
    text-align: left;
    max-width: 600px;
    max-height: 912px;
    width: 100%;
}

.page_header {
    width: 1240px;
}

.text_icon_align {
    display: flex;
    align-items: center;
}

.text_color_light {
    color: #00CCCC;
}

.left_column_item {
    display: flex; 
    flex-direction: column;
    gap: 16px;
}

.wrapper_order_feed {
    display: flex;
    gap: 36px;
}

.wrapper_half {
    width: 50%;
}

.wrapper_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapper_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

.full_width {
    width: 100%;
}

.text_center {
    text-align: center;
}

.ingredient_icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border-color: #4C4CFF;
    border-width: medium;
    border-style: solid;
    background-color: #131316;
    display: inline-block;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow: hidden;
}